@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

/* Utility class for Carter One heading */
.font-carter {
  font-family: "Carter One", cursive;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ffeedd; /* Light peach background */
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
